
.edit form .edit-view{
  padding: 8px 16px;
  min-height: 22px;
}

/* textarea在线编辑器ueditor显示 */
.edit form .form-control.edui-default{
  display: inline-table;
  width: 98%;
  border: 0px;
  padding: 0px;
  box-shadow: inset 0 0px 0px #fff;
}

.edit form .edui-default .edui-editor-bottomContainer td{
  padding-right: 5px;
}
